/*
 * https://coolors.co/efbc9b-ee92c2-9d6a89-725d68-a8b4a5
   #efbc9b
   #ee92c2
   #9d6a89
   #725d68
   #a8b4a5
*/
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Style+Script&display=swap');

body {
    background: #725d68;
    font-family: 'Andada Pro', serif;
}

h1 {
    font-family: 'Style Script', cursive;
    color: white;
    text-align: center;
    font-weight: 300;
}

div.container {
    background: #efbc9b;
    max-width: 500px;
    margin: auto;
    padding: 15px;
}

div.items {
    background: #a8b4a5;
    padding: 15px;
}

div.item {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
}

div.item div.text {
    font-size: 20px;
    color: #725d68;
}

div.item div.source,
div.item div.published {
    font-size: 16px;
    color: #a8b4a5;
    text-align: right;
}

div.item div.tags {
    margin-top: 15px;
}

div.item div.tags a {
    background: #ee92c2;
    padding: 5px;
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

div.item div.tags a:hover {
    background: #a8b4a5;
}

div.pagination button.btn {
    border: none;
    background: #9d6a89;
    color: black;
    padding: 15px;
    font-size: 20px;
    margin-right: 5px;
}

div.pagination button.btn.btn-active {
    background: white !important;
}
